[Desktop Entry]
Version=1.0
Name=MasterCore
Comment= MASTER P2P Cryptocurrency
Comment[fr]= MASTER, monnaie virtuelle cryptographique pair à pair
Comment[tr]= MASTER, eşten eşe kriptografik sanal para birimi
Exec=mastercore-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=MasterCore-qt
